<div class="panel panel-primary">
  <div class="panel-heading">
    <h2>Student List</h2>
  </div>
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Firstname</th>
          <th>Lastname</th>
          <th>Email</th>
          <th>Actions</th>
          <th>Firstname</th>
          <th>Lastname</th>
          <th>Email</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let student of students | async">
          <td>{{student.adharNumber}}</td>
          <td>{{student.studentName}}</td>
          <td>{{student.fatherName}}</td>
          <td>{{student.motherName}}</td>
          <td>{{student.fatherOccupation}}</td>
          <td>{{student.motherOccupation}}</td>

          <td>{{student.address}}</td>
          <td>{{student.dateOfBirth}}</td>
          <td>{{student.socialCategory}}</td>
          <td>{{student.previousSchool}}</td>
          <td>{{student.isPreviousTC}}</td>
          <td>{{student.isDisabled}}</td>
          <td>{{student.admissionGrade}}</td>
          <td>{{student.admissionDate}}</td>

          <td><button (click)="deleteEmployee(student.id)" class="btn btn-danger">Delete</button>
              <button (click)="updateEmployee(student.id)" class="btn btn-info" style="margin-left: 10px">Update</button>
              <button (click)="employeeDetails(student._id)" class="btn btn-info" style="margin-left: 10px">Details</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

